body{
   background-color: rgb(22, 22, 22);

}
@keyframes Bg{
    from{ background-color: #ff008e ;}
    30%{ background-color:rgb(255, 0, 234) ;}
    60%{background-color: #c300ff;}
    70% { background-color:#561dda }
    80%{background-color: #c300ff;}
    90%{ background-color:rgb(255, 0, 234) ;}
    100% { background-color: #ff008e ;}
}
@keyframes Fg{
    
    from{ background-color:  rgb(255, 255, 255); color: black; }
    30%{ background-color:  rgb(199, 199, 199); color: rgb(63, 63, 63);}
    60%{ background-color:  rgb(0, 0, 0); color: white;}
    70%{ background-color:  rgb(199, 199, 199); color: rgb(63, 63, 63);}
    80%{ background-color:  rgb(194, 194, 194); color: rgb(34, 33, 33);}
    90%{ background-color:  rgb(250, 250, 250); color: rgb(26, 26, 26);}
    100%{ background-color:  rgb(255, 255, 255); color: rgb(0, 0, 0);}

}
@keyframes Rt{
    from{ transform: rotate(360deg) translateY(100px) scale(1.2,1.2) ;}
}
@keyframes Cal{
    from{transform: skew(40deg);}
}
@keyframes Sx{
    from{box-shadow: 3px 4px 5px red;}
    50%{box-shadow: 3px 4px 5px rgb(2, 255, 2);}
    100%{box-shadow:3px 4px 5px blue;}
}

#Calculadora{
    margin: auto;
    margin-top: 50px;
    padding: 5px;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   border:4px solid rgb(0, 0, 0);
   border-radius: 5%;
   width: 314px;
   height: 325px;
   box-shadow: 3px 4px 5px rgb(255, 254, 254);

    animation-name: Bg,Cal,Sx;
    animation-duration: 20s,8s;
    animation-iteration-count: infinite,1;
    
}
#display{
    color: rgb(255, 255, 255);
    text-align: right;
    width: 235px;
    height: 40px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 6%;
    font-size: 20px;
    font-style: italic;
    box-shadow: 3px 4px 5px rgb(255, 254, 254);
    animation-name:  Fg, Rt,Sx;
    animation-duration: 5.5s;
    animation-iteration-count: infinite,1,0;
    transition: 2s;
} 
#display:hover{
    animation-iteration-count: infinite,0,infinite;
}
#apagar{
    
    color: white;
    width: 55px;
    height: 40px;
    margin-left: 12px;
    border: 2px solid wheat;
    border-radius: 10%;
    font-size: 20px;
    font-style: italic;
    box-shadow: 3px 4px 5px rgb(255, 254, 254);
    animation-name: Fg, Rt;
    animation-duration: 5.5s;
    animation-iteration-count: infinite,1;
    transition: 0s;
}
#apagar:active{
    
    transition: 0s;
    box-shadow: 3px 4px 5px rgb(235, 0, 0);
    transform: translateX(-10px);
    
}
#numeros{
    display: flex;
    flex-wrap: wrap;
    width: 254px;
    

}
.numero{
    cursor: pointer;
    color: white;
    width: 84px;
    height: 65px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5%;
    font-size: 20px;
    font-style: italic;
    animation-name: Fg, Rt;
    animation-duration: 5.5s;
    animation-iteration-count: infinite,1;
    transition: 1s;
    box-shadow: 3px 4px 5px rgb(255, 254, 254);

}
.numero:hover{

   transform: rotateZ(20deg);
    
}
.numero:active{
    transition: 1s;
    box-shadow: 3px 4px 5px rgb(16, 35, 202);
  transform: translateY(4px);
}
.zero{
    
    margin-top: 5px;
    width: 255px;
    
}.zero:hover{
    transform: rotateZ(0deg) !important;
}
.zero:active{
    transition: 0s;
    box-shadow: 3px 4px 5px rgb(0, 0, 0);
  transform: translateY(5px);
}
#operadores{
    display: flex;   
    flex-direction: column;
    width: 55px;
    height: 264px;
    
}
.operador{
    
    cursor: pointer;
    color: white;
    width: 55px;
    height: 255px;
    margin: 3px;
    border: 2px solid wheat;
    border-radius: 10%;
    font-size: 20px;
    font-style: italic;
    box-shadow: 3px 4px 5px rgb(255, 254, 254);
    animation-name: Fg,Rt;
    animation-duration: 5.5s;
    animation-iteration-count: infinite,1;
    transition: 1s;
}
.operador:active{
    
    transition: 1s;
    box-shadow: 3px 4px 5px rgb(0, 0, 0);
    transform: translateY(4px);
    
}
#Ds{
    display: inline-block;
    margin-left: 220px;
    margin-top: 70px;
      color: rgb(0, 225, 255);
      text-shadow: 2px 2px rgb(0, 89, 255);
      font-size: 18px;
      font-weight: bold;
      font-style: italic;
      font-variant: small-caps;    
       
}
a{
    
    text-decoration: none;
}